<div class="carousel">
      <div class="carousel-images">
            <img *ngFor="let image of images; let i = index" [src]="image" [class.active]="isActive(i)"
                  [alt]="'Slide ' + (i + 1)" loading="lazy" />
      </div>

      <div class="carousel-overlay"></div>

      <div class="carousel-nav">
            <button class="nav-button" (click)="previousImage()">
                  <svg viewBox="0 0 24 24">
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                  </svg>
            </button>
            <button class="nav-button" (click)="nextImage()">
                  <svg viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                  </svg>
            </button>
      </div>

      <div class="carousel-indicators">
            <div *ngFor="let image of images; let i = index" class="indicator" [class.active]="isActive(i)"
                  (click)="setCurrentImage(i)" role="button" [attr.aria-label]="'Go to slide ' + (i + 1)">
            </div>
      </div>
</div>