<div class="profile-section">
      <div class="profile-content">
            <div class="profile-header">
                  <img src="./img/profile.png" alt="Nora Caceres" class="profile-image">
                  <div class="profile-info">
                        <p class="font-primary profile-name">Nora Cáceres</p>
                        <p class="font-secondary profile-title">Consultora de Lactancia</p>
                  </div>
            </div>
            <button class="btn btn-primary" (click)="navigateToAboutMe()">
                  Conóceme
            </button>
      </div>
</div>