<div class="intro-text">
      <p class="font-primary">
            Cuando nos convertimos en madre, nuestra mente, alma y corazón vibra en otra frecuencia, en otro sentido,
            en la frecuencia emocional unida a nuestro hijo, a su escencia, a su alma, que está conectado con nuestro
            interior.
      </p>
      <p class="font-secondary">
            Si el alma pudiera explicar cuanto amor hay en ella para conectar con ese ser, no alcanzaría el universo
            entero en tal descripción.
      </p>
      <p class="font-secondary">
            El amor entero, ser, alma y razón no es tuyo, si no de él.
      </p>
      <p class="font-primary signature">
            El amor de mamá
      </p>
      <app-profile-card></app-profile-card>
</div>